<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Crear Envío Nuevo</mat-card-title>
  </mat-card-header>
  <mat-card class="b-1 shadow-none">
    <mat-card-content>
      <div class="form-label">Dirección de Destino:</div>
      <form (ngSubmit)="createShipment()" #shipmentForm="ngForm">
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="newShipment.destination_address"
            name="destination_address"
            required
          />
        </mat-form-field>

        <div class="form-label">Código postal:</div>
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="newShipment.postal_code"
            name="postal_code"
            required
          />
        </mat-form-field>

        <div class="form-label">Nombre del destinatario</div>
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="newShipment.recipient_name"
            name="recipient_name"
            required
          />
        </mat-form-field>

        <div class="form-label">Nombre del remitente</div>
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="newShipment.sender_name"
            name="sender_name"
            required
          />
        </mat-form-field>

        <div class="form-label">Peso:</div>
        <mat-form-field>
          <input
            matInput
            type="number"
            [(ngModel)]="newShipment.weight_kg"
            name="weight_kg"
            placeholder="Peso (kg)"
            required
          />
        </mat-form-field>

        <button mat-raised-button type="submit">Crear Envío</button>
      </form>
    </mat-card-content>
  </mat-card>
</mat-card>
