<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Crear Envío Nuevo</mat-card-title>
  </mat-card-header>
  <mat-card class="b-1 shadow-none">
    <mat-card-content>
      <form (ngSubmit)="createShipment()" #shipmentForm="ngForm">
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="newShipment.destination_address"
            name="destination_address"
            placeholder="Dirección de Destino"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="newShipment.postal_code"
            name="postal_code"
            placeholder="Código Postal"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="newShipment.recipient_name"
            name="recipient_name"
            placeholder="Nombre del Destinatario"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            [(ngModel)]="newShipment.sender_name"
            name="sender_name"
            placeholder="Nombre del Remitente"
            required
          />
        </mat-form-field>
        <p>Peso:</p>
        <mat-form-field>
          <input
            matInput
            type="number"
            [(ngModel)]="newShipment.weight_kg"
            name="weight_kg"
            placeholder="Peso (kg)"
            required
          />
        </mat-form-field>
        <button mat-button type="submit">Crear Envío</button>
      </form>
    </mat-card-content>
  </mat-card>
</mat-card>
