.package-list {
  margin-top: 25px;
}

.package-list-item {
  margin-top: 35px; /* Margen inferior de 10px para cada elemento de la lista */
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
