mat-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón de inicio de sesión */
button {
  width: 100%;
  margin-top: 20px;
}

/* Estilo para los campos de entrada */
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Estilo para el título del formulario */
mat-card-title {
  font-size: 24px;
  text-align: center;
  color: #333;
}

/* Estilo para las etiquetas de los campos de entrada */
mat-label {
  font-size: 14px;
  color: #666;
}

/* Estilo para los iconos */
mat-icon {
  font-size: 24px;
}

/* Estilo para el fondo */
body {
  background: linear-gradient(to bottom, #f7f7f7, #e0e0e0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
