<mat-card>
  <mat-card-header>
    <mat-card-title>Iniciar Sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="login()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          [(ngModel)]="email"
          required
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Iniciar Sesión
      </button>

      <a routerLink="/authentication/register" class="register-link"
        >¿No tienes cuenta? Regístrate aquí</a
      >
    </form>
  </mat-card-content>
</mat-card>
