.my-card {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.my-title {
  margin-top: 16px; /* Márgen superior de 16px para el título */
}

.my-subtitle {
  margin-bottom: 16px; /* Márgen inferior de 16px para el subtítulo */
}

.my-table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.full-width {
  width: 100vh;
  margin-bottom: 20px;
}
