<div class="row">
  <!-- Descripción del panel de administración -->
  <div class="col-lg-8">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title>Panel de Administración INVENT</mat-card-title>
        </div>
        <p>
          Bienvenido al panel de administración de INVENT, una empresa
          intermediaria de envíos de mercancías creada para facilitar los envíos
          con un plus de seguridad
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Imagen de envíos de correos por paquetería -->
  <div class="col-lg-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Envíos de Mercancías</mat-card-title>
        <img
          src="https://media.istockphoto.com/id/1266361376/es/foto/white-independent-delivery-van-en-la-entrada-residencial.jpg?s=1024x1024&w=is&k=20&c=IRULoODD_xzM604cgbHBpLSA2BZUDR9tU58qYWcv6Zw="
          alt="Imagen de envíos de correos por paquetería"
        />
      </mat-card-content>
    </mat-card>
  </div>
</div>
