<div class="row">
  <div class="col-lg-8">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title>Panel de Administración INVENT</mat-card-title>
        </div>
        <p>
          Bienvenido al panel de administración de INVENT, una empresa
          intermediaria de envíos de mercancías creada para facilitar los envíos
          con un extra en seguridad
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Envíos de Mercancías</mat-card-title>
        <img
          src="assets/images/shipments/trackInvent.jpg"
          alt="Imagen de envíos de correos por paquetería"
          style="min-width: 100%; max-width: 100%"
        />
      </mat-card-content>
    </mat-card>
  </div>
</div>
