<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">
      Aquí puedes localizar los envíos y obtener toda la información detallada:
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <mat-card class="b-1 shadow-none">
      <mat-card-content>
        <p>
          Introduce el ID del envío que quieras buscar para obtener toda la
          información detallada
        </p>
        <p></p>
        <form (ngSubmit)="searchShipment()" #searchForm="ngForm">
          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="shipmentId"
              name="shipmentId"
              placeholder="Buscar por ID"
            />
          </mat-form-field>
          <button mat-button type="submit">Buscar</button>
        </form>
        <ng-container>
          <ul class="shipment-info-list">
            <li>
              <strong>ID: </strong>
              {{ selectedShipment ? selectedShipment[0].id : "" }}
            </li>
            <li>
              <strong>Destino: </strong>
              {{
                selectedShipment ? selectedShipment[0].destination_address : ""
              }}
            </li>
            <li>
              <strong>Código Postal: </strong>
              {{ selectedShipment ? selectedShipment[0].postal_code : "" }}
            </li>
            <li>
              <strong>Nombre del Destinatario: </strong>
              {{ selectedShipment ? selectedShipment[0].recipient_name : "" }}
            </li>
            <li>
              <strong>Nombre del Remitente: </strong>
              {{ selectedShipment ? selectedShipment[0].sender_name : "" }}
            </li>
            <li>
              <strong>Peso: </strong>
              {{ selectedShipment ? selectedShipment[0].weight_kg : "" }}
            </li>
            <li>
              <strong>Compañía de envío: </strong>
              {{ selectedShipment ? selectedShipment[0].shipping_company : "" }}
            </li>
            <li>
              <strong>Categoría del paquete: </strong>
              {{ selectedShipment ? selectedShipment[0].package_category : "" }}
            </li>
            <li>
              <strong>Creado: </strong>
              {{
                selectedShipment
                  ? (selectedShipment[0].created_at | date : "dd/MM/yyyy HH:mm")
                  : ""
              }}
            </li>
          </ul>
        </ng-container>
        <button mat-raised-button (click)="toggleAllShipments()">
          {{
            showAll ? "Ocultar Todos los Envíos" : "Mostrar Todos los Envíos"
          }}
        </button>
        <div *ngIf="showAll">
          <ul class="shipment-info-list">
            <li *ngFor="let shipment of data">
              <ul>
                <li><strong>ID: </strong>{{ shipment.id }}</li>
                <li>
                  <strong>Destino: </strong>{{ shipment.destination_address }}
                </li>
                <li>
                  <strong>Código Postal: </strong>{{ shipment.postal_code }}
                </li>
                <li>
                  <strong>Nombre del Destinatario: </strong
                  >{{ shipment.recipient_name }}
                </li>
                <li>
                  <strong>Nombre del Remitente: </strong
                  >{{ shipment.sender_name }}
                </li>
                <li><strong>Peso: </strong>{{ shipment.weight_kg }}</li>
                <li>
                  <strong>Compañía de envío: </strong
                  >{{ shipment.shipping_company }}
                </li>
                <li>
                  <strong>Categoría del paquete: </strong
                  >{{ shipment.package_category }}
                </li>
                <li>
                  <strong>Creado: </strong>
                  {{ shipment.created_at | date : "dd/MM/yyyy HH:mm" }}
                </li>
                <button
                  (click)="deleteShipment(shipment.id)"
                  class="delete-button"
                >
                  Eliminar Envío
                </button>
              </ul>
            </li>
          </ul>
        </div>
        <div *ngIf="showInvalidInputMessage">
          Por favor, ingrese un número entero positivo válido.
        </div>
        <div *ngIf="showNotFoundMessage">No se encontró el envío.</div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
